
@if (toggleTree() ) {
  <div class="container">
  <div class="file-container" [class.active]="toggleTree()" #resizable >

    <button (click)="createNote('Untitled.md')">
      <img src="addFile.svg" width="20" height="20">
    </button>

    <button (click)="createFolder('Untitled')">
      <img src="addDir.svg" width="20" height="20">
    </button>


    <div *ngFor="let node of tree"
         (contextmenu)="showContextCard($event, node)"
         (click)="hideHoverCard($event)">
      <app-tree-node
        [node]="node"
        [action]="contextAction"
        (nodeSelected)="onNodeSelected($event)">
      </app-tree-node>
    </div>


    <div class="resizer" (mousedown)="initResize($event)"></div>
  </div>
    @if (this.selectedNode) {
      <app-editor-view
      [node]="selectedNode"
      (click)="hideHoverCard($event)"
      >
      </app-editor-view>
    }@else{

      <div class="not-selected"
      (click)="hideHoverCard($event)"
      >
        <span>No file selected!</span>
      <img src="play.png" width="100" height="100">

      </div>

    }


  </div>

}

    @if (showContextMenu) {
      <app-context
      [file]="selectedNode"
      [x]="hoverX"
      [y]="hoverY"
      (fileEmit)="onContextAction($event)"
      >
      </app-context>
    }

