
  <div class="container">
  <app-sidebar
  [toggleTree]="toggleTree"
  (toggleResult)="onSideBarAction($event)"
  ></app-sidebar>
  <div class="file-container" *ngIf="toggleTree()"  [class.active]="toggleTree()" #resizable >


    <button (click)="createNote('Untitled.md')">
      <img src="addFile.svg" width="20" height="20">
    </button>

    <button (click)="createFolder('Untitled')">
      <img src="addDir.svg" width="20" height="20">
    </button>

    <button (click)="onSettings()">
      <img src="settings.svg" width="20" height="20">
    </button>

    <div class="file-list" cdkDropList [cdkDropListData]="tree" (cdkDropListDropped)="drop($event)"
         (click)="hideHoverCard($event)">
        <div class="file-box" *ngFor="let node of tree" (contextmenu)="showContextCard($event, node)" >
          <div class="file-placeholder" *cdkDragPlaceholder></div>
          <app-tree-node
            [node]="node"
            [action]="contextAction"
            (nodeSelected)="onNodeSelected($event)"
            cdkDrag>
          </app-tree-node>
        </div>
    </div>


    <div class="resizer" (mousedown)="initResize($event)"></div>
  </div>
    @if (this.selectedNode) {
      <app-editor-view
      [node]="selectedNode"
      [toggleWidth]="toggleTree"
      (click)="hideHoverCard($event)"
      >
      </app-editor-view>
    }@else{

      <div class="not-selected"
      (click)="hideHoverCard($event)"
      >
        <span>No file selected!</span>
      <img src="play.png" width="100" height="100">

      </div>

    }


  </div>


    @if (showContextMenu) {
      <app-context
      [file]="selectedNode"
      [x]="hoverX"
      [y]="hoverY"
      (fileEmit)="onContextAction($event)"
      >
      </app-context>
    }

