
  <div class="container" *ngIf="!hideFileSystem" >
  <app-sidebar
  *ngIf="!hideFileSystem"
  [toggleTree]="toggleTree"
  (toggleResult)="onSideBarAction($event)"
  ></app-sidebar>
  <div class="file-container" *ngIf="toggleTree() && !hideFileSystem"  [class.active]="toggleTree()" #resizable >

    <button  (click)="onHome()">
      <img src="home.svg">
    </button>


    <button (click)="createNote('Untitled.md')">
      <img src="addFile.svg" width="20" height="20">
    </button>

    <button (click)="createFolder('Untitled')">
      <img src="addDir.svg" width="20" height="20">
    </button>

    <button (click)="onSettings()">
      <img src="settings.svg" width="20" height="20">
    </button>


    <div class="file-list" *ngIf="!hideFileSystem"cdkDropList [cdkDropListData]="tree" (cdkDropListDropped)="drop($event)"
         (click)="hideHoverCard($event)">
        <div class="file-box" *ngFor="let node of tree" (contextmenu)="showContextCard($event, node)" >
          <div class="file-placeholder" *cdkDragPlaceholder></div>
          <app-tree-node
            [node]="node"
            [action]="contextAction"
            (nodeSelected)="onNodeSelected($event)"
            [isSelected]="selectedNodeName == node.name "
            cdkDrag>
          </app-tree-node>
        </div>
    </div>


    <div class="resizer" (mousedown)="initResize($event)"></div>
  </div>

  </div>


    @if (showContextMenu) {
      <app-context
      [file]="selectedNode"
      [x]="hoverX"
      [y]="hoverY"
      (fileEmit)="onContextAction($event)"
      >
      </app-context>
    }

