
.container{
  position: absolute;
  left: 390px;
  margin-bottom: 100px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  height: 50px;
  width: 100%;


}


.layout{
  display: grid;
  grid-template-columns: repeat(8,200px);
}
