<div
    class="hover-card"
    [ngStyle]="{ top: y + 'px', left: x + 'px' }"
    >

    <div class="rename-container">
      <button (click)="onRename()">
        <img src="rename.svg">
        <span>Rename</span>
      </button> <br>
    </div>


    <div class="delete-container">
      <button (click)="onDelete()">
        <img src="remove.svg" >
        <span>Delete</span>
      </button>

    <div class="cancel-container">
      <button (click)="onClose()">
        <img src="cancel.svg">
        <span>Cancel</span>
      </button>


    </div>

</div>


