.hover-card{
  position: absolute;
  background: var(--panel-dark);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  max-width: 500px;
  border-radius: 10px;
  min-height: 150px;
}




span{
  font-size: 15px;
  margin-left: 5px;

}

img {
  width: 20px;
}


.delete-container button {
  display:flex;
  width: 200px;
  justify-content: left;
  margin-top: 0px;
}
.rename-container button {
  display:flex;
  width: 200px;
  justify-content: left;
  margin-bottom: 0px;
}

.cancel-container button{
  display:flex;
  width: 200px;
  justify-content: left;
}

.rename-container{
  height: 40px;
}

.delete-container {
  height: 40px;
}
.cancel-container{
  height: 100px;
}


.rename-container img,
.delete-container img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 8px;
}

