.tree-node {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  background-color: transparent;
  transition: 0.3s ease;

}

details[open] .arrow-wrapper {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrow-wrapper {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
  margin-right: 5px;
}

.arrow-wrapper {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-right: 0px;
}

.folder-icon{
  position: relative;
  top: 5px;
  left: 0;
}

.folder-name{
  margin-left: 10px;
}


.tree-node:hover{
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.tree-node a:hover{
  color: white;
}


