

    <div class="tree-node" (click)="saveCurrentSelectedNote(node.name,node.path) ">
      <ng-container *ngIf="node.isDirectory ; else fileTemplate">


        @if (isEditing || isRenamingNode  ) {
            <input
            type="text"
            class="file"
            [(ngModel)]="node.name"
            (change)="onNameChange(node.name,node.path)"
            (blur)="stopEditing()"
            (keydown.enter)="stopEditing()"
            (click)="saveCurrentSelectedNote(node.name, node.path)"

            />

        }@else{
        <details >
          <summary (dblclick)="startEditing()">
           <span class="arrow-wrapper">

           <img src="arrow.svg" width="20">

           </span>
           {{ node.name }}
          </summary>

          @for(child of node.children; track $index) {
          <app-tree-node [node]="child"></app-tree-node>
          }
        </details>

        }
      </ng-container>
      <div class="file-names">
        <ng-template #fileTemplate>

          @if (isEditing ||  isRenamingNode) {
            <input
            type="text"
            class="file"
            [(ngModel)]="node.name"
            (change)="onNameChange(node.name,node.path)"
            (blur)="stopEditing()"
            (keydown.enter)="stopEditing()"
            (click)="saveCurrentSelectedNote(node.name, node.path)"
            />


          }@else{
            <a class="file" (dblclick)="startEditing()" (click)="saveCurrentSelectedNote(node.name,node.path)">
            {{ node.name }}
          </a>
          }
        </ng-template>


      </div>
    </div>
