.container{
  width: 200px;
  max-width: 200px;
  margin-top: 0px;
  margin-left: 0px;
  height: 50px;
}

.container:hover{
  background-color: var(--panel-dark);
}

.selected{
  background-color: var(--panel-dark);
}

.items{
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}


.items span{
  width: 130px;
  max-width: 130px;
}

.items span:hover{
  cursor: pointer;
}

.close{
  background: transparent;
}



