<div class="container">
  <h1>About</h1>

  <div class="options">
      <section>
        <p> Hello Stranger! This is an open source web app for note taking built with Angular and Electron. <br> <br>

        While developing this app, I’m also learning how to build applications with Angular and Electron.
        If you have any feedback or found a bug, please let me know <a href="https://github.com/Moritz344/emerald-app/issues" target="_blank">here</a>.
      </section>

      <section>
        <h1>Socials</h1>
        <div class="socials">
          <a href="https://github.com/Moritz344" target="_blank">
            <img src="github.png" width="40" height="40">
          </a> <br>
          <a href="https://moritz.netlify.app/#/" target="_blank" >
            <img src="person.svg" width="40" height="40">
          </a> <br>
          <a href="https://ko-fi.com/moritz344" target="_blank">
            <img src="kofi.png" width="40" height="40">
          </a> <br>

      </div>
      </section>

      <div class="icons">
        <h1>Icons</h1>
        <section>
          <li>
            <a href="https://fonts.google.com/icons?icon.size=24&icon.color=%23e3e3e3&icon.set=Material+Symbols" target="_blank">Google Material</a>
          </li>
          <li>
            <a href="https://icons8.com/icons" target="_blank">icons8</a>
          </li>

        </section>

      </div>



  </div>


</div>
