


<div #editor class="editor-container" *ngIf="!showMarkdown && !hideEditor" >
    <h1>{{ noteName }}</h1>
    <span class="path">{{ note.path }}</span>
  <div class="textbox">
      <textarea
         #editorText
         id="editor"
         (ngModelChange)="saveCurrentFile($event)"
         [ngModel]="noteContent"
         class="editor-text"
         >
       ></textarea>


  </div>


</div>



<div *ngIf="showMarkdown" class="markdown-preview">
    <h1 >{{ noteName }}</h1>
    <span class="markdown-path" >{{ note.path }}</span>
    <markdown id="editor" [data]="noteContent" ></markdown>
</div>


