
<div class="topbar" >
    <button (click)="onPreview()">
    <img src="preview.svg">
    </button>
  </div>



<div class="editor-container" *ngIf="!showMarkdown" >
    <h1>{{ noteName }}</h1>
    <span class="path">{{ note.path }}</span>
  <div class="textbox">
    @if (toggleWidth) {
      <textarea
         id="editor"
         (ngModelChange)="saveCurrentFile($event)"
         [ngModel]="noteContent"
         class="editor-text"
         >
       ></textarea>

      }@else{
 <textarea
    id="editor"
    (ngModelChange)="saveCurrentFile($event)"
    [ngModel]="noteContent"
    class="editor-text"
    >
  ></textarea>

      }

  </div>


</div>



<div *ngIf="showMarkdown" class="markdown-preview">
    <markdown id="editor" [data]="noteContent" >
    </markdown>
</div>
