
<div #editor class="editor-container" *ngIf="!showMarkdown && !hideEditor" >
    <h1>{{ noteName }}</h1>
    <span class="path">{{ note.path }}</span>
  <div class="textbox">
  <ngx-editor
        class="editor-text"
        [editor]="textEditor"
        [ngModel]="noteContent"
        [disabled]="false"
        (ngModelChange)="saveCurrentFile($event)"

   ></ngx-editor>


  </div>


</div>



<div *ngIf="showMarkdown" class="markdown-preview">
    <h1 >{{ noteName }}</h1>
    <span class="markdown-path" >{{ note.path }}</span>
    <markdown id="editor" [data]="noteContent" ></markdown>
</div>


