
.editor-container{
  height: 500px;
  position: absolute;
  left: 400px;
  top: 50px;
}

.topbar{
  position: absolute;
  right: 0px;
  top: 0px;

  z-index: 1;
}

.path{
  opacity: 0.5;
  margin-top: 0px;
  margin-left: 10px;
  transition: 0.3s ease;
}

.path:hover{
  opacity: 1;
  cursor: pointer;
}

.editor-container h1{
  margin-left: 10px;
}

h1{
  margin-bottom: 0px;
}



button{
  background-color: var(--panel-dark);
}
button:hover{
  background-color: var(--text-secondary-light);
  cursor: pointer;
}


.editor-text{
  margin-left: 10px;
  height: 850px;
  width: 1400px;

}
.editor-text-zen{
  width: 1800px;
  height: 850px;

}

textarea{
  resize: none;
  margin-top: 10px;

}

textarea::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.markdown-preview{
  overflow-y: scroll;
  max-height: 95vh;
  width: 80vw;
  height: 500px;
  position: absolute;
  left: 400px;
  top: 50px;
}




